<div class="dashboard-container">
    <h2>My Tasks</h2>
    <form [formGroup]="taskForm" (ngSubmit)="isEditing ? updateTask() : addTask()">
        <input type="hidden" formControlName="TaskId">
        <div>
            <label>Title</label>
            <input type="text" formControlName="TaskTitle" placeholder="Task title">
            <small style="color: red;" *ngIf="taskForm.get('TaskTitle')?.touched && taskForm.get('TaskTitle')?.invalid">
                Title is Required
            </small>
        </div>
        <div>
            <label>Description</label>
            <textarea formControlName="TaskDescription" placeholder="Task Description">
            </textarea>
            <small style="color: red;" *ngIf="taskForm.get('TaskDescription')?.touched && taskForm.get('TaskDescription')?.invalid">
                Description is Required
            </small>
        </div>
        <div>
            <label>Set Priority</label>
            <!-- <input type="number" formControlName="Priority" min="1" max="5"> -->
             <select formControlName="Priority">
                <option value="1">1 - Low</option>
                <option value="2">2 - Medium</option>
                <option value="3">3 - High</option>
             </select>
        </div>
        <button type="submit">{{isEditing ? 'Update Task':'Add Task'}}</button>
        <button type="button" *ngIf="isEditing" (click)="cancelEdit()">Cancel</button>
    </form>
</div>
<div class="task-list">
    <div *ngIf="tasks?.length === 0">No Tasks Yet Add Your First Task!</div>
    <div class="task-item">
        <table>
            <thead style="border: 2px;">
                <tr>
                    <th>Task Title</th>
                    <th>Task Description</th>
                    <th>Task Priority</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let task of tasks">
                <tr>
                    <td>{{task.taskTitle}}</td>
                    <td>{{task.taskDescription}}</td>
                    <td>{{getPriority(task.priority)}}</td>
                    <td>
                        <div class="task-actions">
                            <button (click)="edittask(task)">Edit</button>
                            <button (click)="deleteTask(task)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>