USE [Todo]
GO
/****** Object:  StoredProcedure [dbo].[Sp_DeleteNOTE]    Script Date: 3/17/2026 7:24:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[Sp_DeleteNOTE]
(
	@taskid uniqueidentifier,
	@userid uniqueidentifier,
	@isDeleted bit = 0,
	@deletedate datetime = NULL,
	@instatus INT OUTPUT
)
AS
BEGIN
	IF @taskid IS NOT NULL OR @taskid <> CAST(0x0 as uniqueidentifier) AND @userid IS NOT NULL OR @userid <> CAST(0x0 as uniqueidentifier)
	BEGIN
			UPDATE List SET IsDeleted = 1, DeletedDate = @deletedate WHERE TaskGID = @taskid AND UserGID = @userid
			SET @instatus = 101
	END
	ELSE
			SET @instatus = 102
END
