USE [Todo]
GO
/****** Object:  StoredProcedure [dbo].[GetNotes]    Script Date: 3/17/2026 7:24:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[GetNotes](
@userid uniqueidentifier,
@search varchar(max) = NULL
)
AS
BEGIN
	IF @search <> '' AND @search IS NOT NULL
	BEGIN
		SELECT * FROM List WHERE (TaskDescription Like '%'+@search+'%' OR TaskTitle Like '%'+@search+'%') AND  UserGID = @userid AND IsDeleted = 0 
	END
	ELSE
	    SELECT * FROM List WHERE UserGID = @userid AND IsDeleted = 0 
END