USE [Todo]
GO
/****** Object:  StoredProcedure [dbo].[Sp_ManageNote]    Script Date: 3/17/2026 7:25:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[Sp_ManageNote] (
	@taskid uniqueidentifier,
	@userid uniqueidentifier,
	@tasktitle varchar(50),
	@taskdescription varchar(max),
	@priority int,
	@isupdated bit =NULL,
	@updatedate datetime = NULL,
	@createdate datetime = NULL,
	@instatus int OUTPUT
)AS
BEGIN
	IF @taskid IS NULL OR @taskid = CAST(0x0 AS UNIQUEIDENTIFIER) AND @userid IS NOT NULL AND @userid <> CAST(0x0 AS uniqueidentifier)
	BEGIN
		  INSERT INTO List with(rowlock) ( TaskGID, UserGID, TaskTitle, TaskDescription, Priority, CreatedDate ) 
		  VALUES ( NEWID(), @userid, @tasktitle, @taskdescription, @priority, @createdate )
		  SET @instatus = 101; -- Inserted The Task
	END
	ELSE IF @taskid IS NOT NULL AND @taskid <> CAST(0x0 AS UNIQUEIDENTIFIER) AND @userid IS NOT NULL AND @userid <> CAST(0x0 AS UNIQUEIDENTIFIER)
	BEGIN
		  UPDATE List with(rowlock) SET  TaskTitle = ISNULL(@tasktitle,TaskTitle), TaskDescription = ISNULL(@taskdescription,TaskDescription), isUpdated = 1,
									     Priority = ISNULL(@priority,Priority), UpdatedDate = ISNULL(@updatedate,UpdatedDate)
								   WHERE TaskGID = @taskid AND UserGID = @userid
		  SET @instatus = 102; -- Update The Task
	END
	ELSE
		  SET @instatus = 100; -- NO Operation Happen / Failed Operation
END

